@mixin no-select() {
  user-select: none;
}

i {
  &.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    font-style: normal;

    @include no-select;
  
    & > :first-child {
      @include no-select;
    }
  
    & > :not(:first-child) {
      display: none;
    }
  }

  &.check {
    background-image: url("/icons/check.svg");
  }

  &.cart {
    background-image: url("/icons/cart.svg");
  
    &, & > :first-child {
      font-weight: 500;
      font-size: 9px;
      text-align: center;
    }
  
    & > :first-child {
      margin: 0 0 2px 2px;
  
      &.icon {
        width: 14px;
        height: 14px;
        background-size: 14px 14px;
      }
    }
  }
}
